#input {
  background: transparent;
  border-radius: 0.5rem;
  border: solid 0.1rem #eee;
  color: #eee;
  font-size: 1.2rem;
  font-weight: bold;
  height: 3rem;
  padding: 0 1rem;
  &::placeholder {
    color: #eee;
  }
}
