button {
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #eee;
  color: #eee;
  border-radius: 0.5rem;
  font-size: 15px;
  font-weight: bold;
  height: 3rem;
  padding: 0 1rem;
  width: 15rem;
  margin: 0 auto;
  &:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}
